streamlit
pymongo # python integrated version of mongodb it save previous chathistory to mongodb
pydantic # to have some structured input and output
pydantic-settings # to properly provide configuration settings like env variable values
python-dotenv # To save env values to the enviornment variables
